@use '../scss/variables' as *;
@use 'sass:math';

.hero {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;

  & > div {
    height: 100%;
    bottom: 0;
  }

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 3vw * 1.2 - #{map-get($spacers, 2)} - 63px);
  }
}