
$font-size-base: 1.3rem;
$font-family-sans-serif: neue-haas-grotesk-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol", "Noto Color Emoji" !default;

$headings-font-family: utopia-std, kepler-std, Playfair Display, handwritten, italic, serif;

$headings-font-weight: 400;

$grid-gutter-width: 50px;

$font-weight-base: 400;

$black: #111 !default;

$btn-close-color: $black;
$body-color: $black;
$link-color: $body-color;
$link-decoration: none;
$link-hover-decoration: line-through;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1340px
);

// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


$gutters:  (
        0: 0,
        1: $grid-gutter-width * .25,
        2: $grid-gutter-width * .5,
        3: $grid-gutter-width,
        4: $grid-gutter-width * 1.5,
        5: $grid-gutter-width * 3,
) !default;
