@import url("https://use.typekit.net/qsp3uel.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

$font-size-base: 1.3rem;
$font-family-sans-serif: neue-haas-grotesk-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol", "Noto Color Emoji" !default;

$headings-font-family: utopia-std, kepler-std, Playfair Display, handwritten, italic, serif;

$headings-font-weight: 400;

$grid-gutter-width: 50px;

$font-weight-base: 400;

$black:    #111 !default;

$body-color: $black;
$link-color: $body-color;

$link-hover-decoration: line-through;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1340px
);



@import "bootstrap";

@import "~swiper/swiper";
@import "~swiper/components/scrollbar/scrollbar";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  &:not(.heading-style-regular) {
    font-style: italic;
  }
}

.heading-style-regular {
  text-transform: uppercase;
}

:root {
  --swiper-theme-color: #{theme-color("dark")};
}

#site-nav {
  .nav-link {
    padding-right: #{$spacer *1.5} !important;
    padding-left: #{$spacer * 1.5} !important;

    font-weight: 500;
  }
}

#info-container {
  position: fixed;
  top: 100vh;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 11000;
  transition: top 1s;
  background: $body-bg;

  overflow-y: scroll;

  &.active {
    top: 0;
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 25s linear infinite;
  animation-play-state: running;
}

.marquee span {
  @extend .h1;
  font-size: 3vw;
  padding: 0 2vw;
  white-space: nowrap;
}

.marquee:hover .marquee__inner {
  animation-play-state: hover;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: unset;
  left: 0px;
}

.swiper-pagination-bullet {
  // height: calc((75vh - (var(--slides) * 12px) )/ var(--slides));
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  min-width: calc(100vw - 50px);

}

.photograph-image-container {
  max-height: 70%;
  height: inherit;
  //border-bottom: $black solid 2px;

  @include media-breakpoint-up("lg") {
    max-height: 100%;
  }
}

.lettera-link {
  @include media-breakpoint-down("md") {
    border-top: $black solid 2px;
  }
}

#hero-spacer {
  width: 0;
  transition: width 1s ease .5s;

  .rendered & {
    width: 70vw;
  }
}

#hero-qf {
  top: 12vw;
  left: 25%;
  font-size: 8vw;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease .5s;

  .rendered & {
    opacity: 1;
  }
}