$font-family-sans-serif: neue-haas-grotesk-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol", "Noto Color Emoji" !default;


$headings-font-family: Playfair Display, handwritten, italic, serif;

$grid-gutter-width: 50px;

$link-color: #212529;

$link-hover-decoration: line-through;

@import "bootstrap";


@include media-breakpoint-up('md') {
  #authors-list {
    column-count: 3;
    column-gap: $grid-gutter-width;
  }
}

#info-container {
  position: fixed;
  top: 100vh;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 11000;
  transition: top 1s;
  background: $body-bg;

  overflow-y: scroll;
  &.active {
    top: 0;
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 25s linear infinite;
  animation-play-state: running;
}

.marquee span {
  @extend .h1;
  font-size: 3vw;
  padding: 0 2vw;
  white-space: nowrap;
}

.marquee:hover .marquee__inner {
  animation-play-state: hover;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}