$font-family-sans-serif: neue-haas-grotesk-display, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol", "Noto Color Emoji" !default;


$headings-font-family: Playfair Display, handwritten, italic, serif;

$grid-gutter-width: 50px;

$link-color: #212529;

$link-hover-decoration: line-through;

@import "bootstrap";


@include media-breakpoint-up('md') {
  #authors-list {
    column-count: 3;
    column-gap: $grid-gutter-width;
  }
}

#info-container {
  position: fixed;
  top: 100vh;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 11000;
  transition: top 1s;
  background: $body-bg;

  overflow-y: scroll;
  &.active {
    top: 0;
  }
}